*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

*.mdf
*.ldf
*.ndf

*.Cache
~$*
*~
*.pfx
*.publishsettings

*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

healthchecksdb
*.binlog
FodyWeavers.xsd
